---
import '@/asset/styles/tailwind.css';
import { Container } from '@/layout/Container';
---


<!doctype html>
<html lang= 'en'>
  <head>
    <meta charset= 'UTF-8' />
    <meta name= 'viewport' content= 'width=device-width, initial-scale=1.0' />
    <meta name= 'theme-color' content= '#2a80ad' />
    <link rel= 'icon' type= 'image/svg+xml' href= '/assets/media/atom.svg' sizes= 'any' />
    <link rel= 'icon' type= 'image/x-icon' href= '/assets/favicon.ico' sizes= '48x48' />
  </head>

  <body id= 'top'>
    <Container client:load />
  </body>
</html>
