@import 'tailwindcss';
@import './font.css';


@theme {
  --font-sans: 'Geist', sans-serif;
  --font-display: 'Geist', sans-serif;
  --font-mono: monospace;

  --color-primary: #2a80ad;
}

@layer base {
  * {
    @apply
      antialiased
      font-sans;

    scrollbar-width: thin;
    scrollbar-color: #90a1b9 transparent;
  }

  ::-webkit-scrollbar {
    @apply
      w-1.5
      h-1.5;
  }

  ::-webkit-scrollbar-track {
    @apply
      bg-transparent;
  }

  ::-webkit-scrollbar-thumb {
    @apply
      bg-slate-400
      rounded-[9999px];
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply
      bg-slate-400;
  }

  body {
    @apply
      font-sans
      text-slate-900
      bg-slate-200;
  }

  a {
    @apply
      transition-all
      duration-200
      delay-75
      ease-out
      cursor-pointer;
  }

  button {
    @apply
      bg-transparent
      rounded-sm
      transition-all
      duration-200
      delay-75
      ease-out
      cursor-pointer;
  }
}
