@import 'tailwind';
@import './font.css';


@theme {
  --font-sans: 'Geist', sans-serif;
  --font-display: 'Geist', sans-serif;
  --font-mono: monospace;
}

@layer base {
  * {
    @apply antialiased font-sans;
  }
}
